#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=EF_Kinect_v1
Exec=/home/e4e/workspace/ElasticFusion/run_k1.sh
Path=/home/e4e/workspace/ElasticFusion
Name=EF_Kinect_v1
Icon=gnome-panel-launcher
