#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=true
Icon[en_US]=gnome-panel-launcher
Name[en_US]=RGBDSLAM_RealSense_SR300
Exec=bash -c "source ~/.bashrc && /home/e4e/workspace/maya_archaeology/rgbdslam/rgbdslam_realsense_sr300.sh"
Path=/home/e4e/workspace/maya_archaeology/rgbdslam
Name=RGBDSLAM_RealSense_SR300
Icon=gnome-panel-launcher
