<launch>
    
  <arg name="record" default="true" />
  <arg name="record_prefix" default="realsense2" />

  <arg name="playback" default="false" />
  <arg name="playback_file" default="" />

  <param name="use_sim_time" value="$(arg playback)" />

  <node pkg="rosbag" type="record" name="rosbag_record_realsense2"
        args="-o $(arg record_prefix)
              /aligned_depth_to_color/image_raw
		      /color/camera_info
              /color/image_raw/compressed
              /depth/camera_info
              /depth/image_rect_raw
              /realsense2_camera_manager/parameter_descriptions
              /realsense2_camera_manager/parameter_updates
			  /tf
              /tf_static"
        if="$(arg record)"/>

  <!-- <arg name="serial_no" value="814412070369" /> -->
  <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml" unless="$(arg playback)">
	  <arg name="serial_no" value="814412071723" />
	  <arg name="align_depth" value="true"/>
	  <arg name="enable_sync" value="true"/>
	  <arg name="tf_prefix"   value="camera"/>
  </include>



  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
	  <arg name="rgb_topic"         value="/color/image_raw" />
	  <arg name="depth_topic"       value="/aligned_depth_to_color/image_raw" />
	  <arg name="camera_info_topic" value="/color/camera_info" />
	  <arg name="database_path"     value="~/.ros/rtabmap.db" />
  </include>
  
  <!--
  <node name="imu_resample_node" pkg="imu_resample"
      type="imu_resample_node" >
  </node>
  -->


  <group if="$(arg playback)">
    
	<node pkg="image_transport" type="republish" name="decompress_image"
          args="compressed in:=/compressed/color/image_raw out:=/color/image_raw" />
	
	<!--
	<node pkg="image_transport" type="republish" name="decompress_fisheye"
          args="compressed in:=/compressed/fisheye/image_raw out:=/camera/fisheye/image_raw" />
    -->

    <node pkg="rosbag" type="play" name="rosbag_play_realsense2"
          args="$(arg playback_file) -d 2 --clock">
      <remap from="/color/image_raw/compressed" to="/compressed/color/image_raw/compressed" />
    </node>
  </group>

</launch>
