<launch>

    
  <arg name="record" default="true" />
  <arg name="record_prefix" default="kinectv1" />

  <arg name="playback" default="false" />
  <arg name="playback_file" default="" />


  <node pkg="rosbag" type="record" name="rosbag_record_kinectv1"
        args="-o $(arg record_prefix)
              /camera/rgb/camera_info
              /camera/rgb/image_rect_color/compressed
              /camera/depth_registered/camera_info
			  /camera/depth_registered/image_raw
              /tf
              /tf_static"
        if="$(arg record)"/>


 
  <include unless="$(arg playback)"
           file="$(find freenect_launch)/launch/freenect.launch"> 
    <!-- use device registration --> 
    <arg name="depth_registration" value="true" /> 
    <arg name="rgb_processing" value="true" /> 
    <arg name="ir_processing" value="false" /> 
    <arg name="depth_processing" value="false" /> 
    <arg name="depth_registered_processing" value="true" /> 
    <arg name="disparity_processing" value="false" /> 
    <arg name="disparity_registered_processing" value="false" /> 
    <arg name="sw_registered_processing" value="false" /> 
    <arg name="hw_registered_processing" value="true" /> 
  </include> 



  <include file="rgbdslam.launch">
    <arg name="min_sampled_candidates"  value="2" />
    <arg name="optimizer_skip_step"     value="30" />
    <arg name="feature_detector_type"   value="ORB" />
    <arg name="feature_extractor_type"  value="ORB" />
    <arg name="topic_image_mono"        value="/camera/rgb/image_color"/>
    <arg name="camera_info_topic"       value="/camera/rgb/camera_info"/>
    <arg name="topic_image_depth"       value="/camera/depth_registered/hw_registered/image_rect_raw"/>
    <arg name="topic_points"            value="" />
  </include>



  <group if="$(arg playback)">
    
	<node pkg="image_transport" type="republish" name="decompress_image"
          args="compressed in:=/compressed/rgb/image_rect_color out:=/camera/rgb/image_color" />
	
    <node pkg="rosbag" type="play" name="rosbag_play_kinectv1"
          args="$(arg playback_file) -d 2 --clock">
      <remap from="/camera/rgb/image_rect_color/compressed" to="/compressed/rgb/image_rect_color/compressed" />
	  <remap from="/camera/depth_registered/image_raw" to="/camera/depth_registered/hw_registered/image_rect_raw" />
    </node>
  </group>



</launch>
